<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gator Tots BS Lobby</title>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
    <%- include('shared/head') %>
    <script src="/js/lobby.js"></script>
    
    
</head>

<body id="lobby">

    <div id="container">
        <%- include('shared/menu') %>

        <h1> Welcome to the BS Lobby!</h1>
        <br>

        <div id="content">
            <section id="games-listing">
                <h2>🃏 Your Games</h2>
                <ul id="my-games">
                    <li>
                        <span class="status waiting">Waiting</span>
                        <span class="game-name">Game Name</span>
                        <span class="game-players">2/4 players</span>
                        <a href="/games/42" class="button" target="_blank">Join</a>
                    </li>
                    <li>
                        <span class="status playing">Playing</span>
                        <span class="game-name">Game Name</span>
                        <span class="game-players">4/4 players</span>
                        <a href="/games/42" class="button" target="_blank">Join</a>
                    </li>
                </ul>

                <h2>✨ Join a New Game</h2>
                <ul id="available-games">
                    <li>
                        <span class="status waiting">Waiting</span>
                        <span class="game-name">Game 1</span>
                        <span class="game-players">1/4 players</span>
                        <form method="post" action="/games/join/1">
                            <input type="text" name="password" placeholder="Password?" />
                            <button type="submit">Join</button>
                        </form>
                    </li>
                    <li>
                        <span class="status waiting">Waiting</span>
                        <span class="game-name">Game 2</span>
                        <span class="game-players">2/4 players</span>
                        <form method="post" action="/games/join/2">
                            <button type="submit">Join</button>
                        </form>
                    </li>
                </ul>
            </section>

            <%- include('shared/chat') %>
        </div>

        <%- include("games/create-form") %>
        <%- include('shared/templates') %>
    </div>

</body>

</html>
